In [1]:
import pandas as pd
file_path = "C:\\Users\\Silvy Nur Azkia\\Downloads\\gempa_bumi.xlsx"
df = pd.read_excel(file_path)
print(df)

      id  kode_provinsi nama_provinsi  kode_kabupaten_kota  \
0      1             32    JAWA BARAT                 3201
1      2             32    JAWA BARAT                 3202
2      3             32    JAWA BARAT                 3203
3      4             32    JAWA BARAT                 3204
4      5             32    JAWA BARAT                 3205
..   ...            ...           ...                  ...
265  266             32    JAWA BARAT                 3275
266  267             32    JAWA BARAT                 3276
267  268             32    JAWA BARAT                 3277
268  269             32    JAWA BARAT                 3278
269  270             32    JAWA BARAT                 3279

    nama_kabupaten_kota  jumlah_gempa_bumi    satuan  tahun
0       KABUPATEN BOGOR                  3  KEJADIAN   2012
1    KABUPATEN SUKABUMI                 41  KEJADIAN   2012
2     KABUPATEN CIANJUR                  0  KEJADIAN   2012
3     KABUPATEN BANDUNG                  0  KEJADIAN   2012
4       KABUPATEN GARUT                  0  KEJADIAN   2012
..                  ...                ...       ...    ...
265         KOTA BEKASI                  0  KEJADIAN   2021
266          KOTA DEPOK                  0  KEJADIAN   2021
267         KOTA CIMAHI                  0  KEJADIAN   2021
268    KOTA TASIKMALAYA                  0  KEJADIAN   2021
269         KOTA BANJAR                  1  KEJADIAN   2021

[270 rows x 8 columns]

In [2]:
df.head(7)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_gempa_bumi,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,3,KEJADIAN,2012
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,41,KEJADIAN,2012
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,0,KEJADIAN,2012
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,0,KEJADIAN,2012
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,0,KEJADIAN,2012
5,6,32,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,0,KEJADIAN,2012
6,7,32,JAWA BARAT,3207,KABUPATEN CIAMIS,0,KEJADIAN,2012

In [3]:
df.tail(5)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_gempa_bumi,satuan,tahun
265,266,32,JAWA BARAT,3275,KOTA BEKASI,0,KEJADIAN,2021
266,267,32,JAWA BARAT,3276,KOTA DEPOK,0,KEJADIAN,2021
267,268,32,JAWA BARAT,3277,KOTA CIMAHI,0,KEJADIAN,2021
268,269,32,JAWA BARAT,3278,KOTA TASIKMALAYA,0,KEJADIAN,2021
269,270,32,JAWA BARAT,3279,KOTA BANJAR,1,KEJADIAN,2021

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   270 non-null    int64
 1   kode_provinsi        270 non-null    int64
 2   nama_provinsi        270 non-null    object
 3   kode_kabupaten_kota  270 non-null    int64
 4   nama_kabupaten_kota  270 non-null    object
 5   jumlah_gempa_bumi    270 non-null    int64
 6   satuan               270 non-null    object
 7   tahun                270 non-null    int64
dtypes: int64(5), object(3)
memory usage: 17.0+ KB

In [5]:
df.describe()

,id,kode_provinsi,kode_kabupaten_kota,jumlah_gempa_bumi,tahun
count,270.000000,270.0,270.000000,270.000000,270.000000
mean,135.500000,32.0,3231.333333,1.825926,2016.500000
std,78.086491,0.0,31.259794,7.379974,2.877615
min,1.000000,32.0,3201.000000,0.000000,2012.000000
25%,68.250000,32.0,3207.000000,0.000000,2014.000000
50%,135.500000,32.0,3214.000000,0.000000,2016.500000
75%,202.750000,32.0,3273.000000,1.000000,2019.000000
max,270.000000,32.0,3279.000000,70.000000,2021.000000

In [6]:
df.drop(['kode_provinsi'], axis=1)

,id,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_gempa_bumi,satuan,tahun
0,1,JAWA BARAT,3201,KABUPATEN BOGOR,3,KEJADIAN,2012
1,2,JAWA BARAT,3202,KABUPATEN SUKABUMI,41,KEJADIAN,2012
2,3,JAWA BARAT,3203,KABUPATEN CIANJUR,0,KEJADIAN,2012
3,4,JAWA BARAT,3204,KABUPATEN BANDUNG,0,KEJADIAN,2012
4,5,JAWA BARAT,3205,KABUPATEN GARUT,0,KEJADIAN,2012
...,...,...,...,...,...,...,...
265,266,JAWA BARAT,3275,KOTA BEKASI,0,KEJADIAN,2021
266,267,JAWA BARAT,3276,KOTA DEPOK,0,KEJADIAN,2021
267,268,JAWA BARAT,3277,KOTA CIMAHI,0,KEJADIAN,2021
268,269,JAWA BARAT,3278,KOTA TASIKMALAYA,0,KEJADIAN,2021
269,270,JAWA BARAT,3279,KOTA BANJAR,1,KEJADIAN,2021

In [7]:
df.rename(columns={'nama_kabupaten_kota':'nama_kabupaten/kota'})

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten/kota,jumlah_gempa_bumi,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,3,KEJADIAN,2012
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,41,KEJADIAN,2012
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,0,KEJADIAN,2012
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,0,KEJADIAN,2012
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,0,KEJADIAN,2012
...,...,...,...,...,...,...,...,...
265,266,32,JAWA BARAT,3275,KOTA BEKASI,0,KEJADIAN,2021
266,267,32,JAWA BARAT,3276,KOTA DEPOK,0,KEJADIAN,2021
267,268,32,JAWA BARAT,3277,KOTA CIMAHI,0,KEJADIAN,2021
268,269,32,JAWA BARAT,3278,KOTA TASIKMALAYA,0,KEJADIAN,2021
269,270,32,JAWA BARAT,3279,KOTA BANJAR,1,KEJADIAN,2021

In [8]:
df.sort_values('kode_kabupaten_kota')

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_gempa_bumi,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,3,KEJADIAN,2012
135,136,32,JAWA BARAT,3201,KABUPATEN BOGOR,9,KEJADIAN,2017
189,190,32,JAWA BARAT,3201,KABUPATEN BOGOR,1,KEJADIAN,2019
108,109,32,JAWA BARAT,3201,KABUPATEN BOGOR,0,KEJADIAN,2016
216,217,32,JAWA BARAT,3201,KABUPATEN BOGOR,0,KEJADIAN,2020
...,...,...,...,...,...,...,...,...
80,81,32,JAWA BARAT,3279,KOTA BANJAR,0,KEJADIAN,2014
53,54,32,JAWA BARAT,3279,KOTA BANJAR,0,KEJADIAN,2013
26,27,32,JAWA BARAT,3279,KOTA BANJAR,0,KEJADIAN,2012
242,243,32,JAWA BARAT,3279,KOTA BANJAR,0,KEJADIAN,2020
269,270,32,JAWA BARAT,3279,KOTA BANJAR,1,KEJADIAN,2021

In [9]:
df['jumlah_gempa_bumi']

0       3
1      41
2       0
3       0
4       0
       ..
265     0
266     0
267     0
268     0
269     1
Name: jumlah_gempa_bumi, Length: 270, dtype: int64

In [10]:
df[['satuan','tahun']]

       satuan  tahun
0    KEJADIAN   2012
1    KEJADIAN   2012
2    KEJADIAN   2012
3    KEJADIAN   2012
4    KEJADIAN   2012
..        ...    ...
265  KEJADIAN   2021
266  KEJADIAN   2021
267  KEJADIAN   2021
268  KEJADIAN   2021
269  KEJADIAN   2021

[270 rows x 2 columns]

In [12]:
df.iloc[1, ]

NameError: name 'satuan' is not defined

In [14]:
df.loc[3, kode_provinsi]

NameError: name 'kode_provinsi' is not defined

In [15]:
df[df['tahun']>2019]

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_gempa_bumi,satuan,tahun
216,217,32,JAWA BARAT,3201,KABUPATEN BOGOR,0,KEJADIAN,2020
217,218,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,5,KEJADIAN,2020
218,219,32,JAWA BARAT,3203,KABUPATEN CIANJUR,1,KEJADIAN,2020
219,220,32,JAWA BARAT,3204,KABUPATEN BANDUNG,1,KEJADIAN,2020
220,221,32,JAWA BARAT,3205,KABUPATEN GARUT,3,KEJADIAN,2020
221,222,32,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,0,KEJADIAN,2020
222,223,32,JAWA BARAT,3207,KABUPATEN CIAMIS,1,KEJADIAN,2020
223,224,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,0,KEJADIAN,2020
224,225,32,JAWA BARAT,3209,KABUPATEN CIREBON,0,KEJADIAN,2020
225,226,32,JAWA BARAT,3210,KABUPATEN MAJALENGKA,0,KEJADIAN,2020
226,227,32,JAWA BARAT,3211,KABUPATEN SUMEDANG,0,KEJADIAN,2020
227,228,32,JAWA BARAT,3212,KABUPATEN INDRAMAYU,1,KEJADIAN,2020
228,229,32,JAWA BARAT,3213,KABUPATEN SUBANG,0,KEJADIAN,2020
229,230,32,JAWA BARAT,3214,KABUPATEN PURWAKARTA,0,KEJADIAN,2020
230,231,32,JAWA BARAT,3215,KABUPATEN KARAWANG,0,KEJADIAN,2020
231,232,32,JAWA BARAT,3216,KABUPATEN BEKASI,0,KEJADIAN,2020
232,233,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,0,KEJADIAN,2020
233,234,32,JAWA BARAT,3218,KABUPATEN PANGANDARAN,3,KEJADIAN,2020
234,235,32,JAWA BARAT,3271,KOTA BOGOR,0,KEJADIAN,2020
235,236,32,JAWA BARAT,3272,KOTA SUKABUMI,0,KEJADIAN,2020
236,237,32,JAWA BARAT,3273,KOTA BANDUNG,0,KEJADIAN,2020
237,238,32,JAWA BARAT,3274,KOTA CIREBON,0,KEJADIAN,2020
238,239,32,JAWA BARAT,3275,KOTA BEKASI,0,KEJADIAN,2020
239,240,32,JAWA BARAT,3276,KOTA DEPOK,0,KEJADIAN,2020
240,241,32,JAWA BARAT,3277,KOTA CIMAHI,0,KEJADIAN,2020
241,242,32,JAWA BARAT,3278,KOTA TASIKMALAYA,0,KEJADIAN,2020
242,243,32,JAWA BARAT,3279,KOTA BANJAR,0,KEJADIAN,2020
243,244,32,JAWA BARAT,3201,KABUPATEN BOGOR,0,KEJADIAN,2021
244,245,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,6,KEJADIAN,2021
245,246,32,JAWA BARAT,3203,KABUPATEN CIANJUR,1,KEJADIAN,2021
246,247,32,JAWA BARAT,3204,KABUPATEN BANDUNG,5,KEJADIAN,2021
247,248,32,JAWA BARAT,3205,KABUPATEN GARUT,5,KEJADIAN,2021
248,249,32,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,3,KEJADIAN,2021
249,250,32,JAWA BARAT,3207,KABUPATEN CIAMIS,0,KEJADIAN,2021
250,251,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,0,KEJADIAN,2021
251,252,32,JAWA BARAT,3209,KABUPATEN CIREBON,0,KEJADIAN,2021
252,253,32,JAWA BARAT,3210,KABUPATEN MAJALENGKA,0,KEJADIAN,2021
253,254,32,JAWA BARAT,3211,KABUPATEN SUMEDANG,0,KEJADIAN,2021
254,255,32,JAWA BARAT,3212,KABUPATEN INDRAMAYU,1,KEJADIAN,2021
255,256,32,JAWA BARAT,3213,KABUPATEN SUBANG,0,KEJADIAN,2021
256,257,32,JAWA BARAT,3214,KABUPATEN PURWAKARTA,1,KEJADIAN,2021
257,258,32,JAWA BARAT,3215,KABUPATEN KARAWANG,0,KEJADIAN,2021
258,259,32,JAWA BARAT,3216,KABUPATEN BEKASI,0,KEJADIAN,2021
259,260,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,1,KEJADIAN,2021
260,261,32,JAWA BARAT,3218,KABUPATEN PANGANDARAN,1,KEJADIAN,2021
261,262,32,JAWA BARAT,3271,KOTA BOGOR,0,KEJADIAN,2021
262,263,32,JAWA BARAT,3272,KOTA SUKABUMI,0,KEJADIAN,2021
263,264,32,JAWA BARAT,3273,KOTA BANDUNG,0,KEJADIAN,2021
264,265,32,JAWA BARAT,3274,KOTA CIREBON,0,KEJADIAN,2021
265,266,32,JAWA BARAT,3275,KOTA BEKASI,0,KEJADIAN,2021
266,267,32,JAWA BARAT,3276,KOTA DEPOK,0,KEJADIAN,2021
267,268,32,JAWA BARAT,3277,KOTA CIMAHI,0,KEJADIAN,2021
268,269,32,JAWA BARAT,3278,KOTA TASIKMALAYA,0,KEJADIAN,2021
269,270,32,JAWA BARAT,3279,KOTA BANJAR,1,KEJADIAN,2021

In [1]:
import pandas as pd
file_path = "C:\\Users\\Silvy Nur Azkia\\Downloads\\banjir.xlsx"
df = pd.read_excel(file_path)
print(df)

      id  kode_provinsi nama_provinsi  kode_kabupaten_kota  \
0      1             32    JAWA BARAT                 3201
1      2             32    JAWA BARAT                 3202
2      3             32    JAWA BARAT                 3203
3      4             32    JAWA BARAT                 3204
4      5             32    JAWA BARAT                 3205
..   ...            ...           ...                  ...
265  266             32    JAWA BARAT                 3275
266  267             32    JAWA BARAT                 3276
267  268             32    JAWA BARAT                 3277
268  269             32    JAWA BARAT                 3278
269  270             32    JAWA BARAT                 3279

    nama_kabupaten_kota  jumlah_banjir    satuan  tahun
0       KABUPATEN BOGOR              0  KEJADIAN   2012
1    KABUPATEN SUKABUMI             20  KEJADIAN   2012
2     KABUPATEN CIANJUR              1  KEJADIAN   2012
3     KABUPATEN BANDUNG             17  KEJADIAN   2012
4       KABUPATEN GARUT              7  KEJADIAN   2012
..                  ...            ...       ...    ...
265         KOTA BEKASI             14  KEJADIAN   2021
266          KOTA DEPOK              3  KEJADIAN   2021
267         KOTA CIMAHI              6  KEJADIAN   2021
268    KOTA TASIKMALAYA              2  KEJADIAN   2021
269         KOTA BANJAR              1  KEJADIAN   2021

[270 rows x 8 columns]