In [1]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\silvy nur azkia\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\silvy nur azkia\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.3.1
[notice] To update, run: C:\Users\Silvy Nur Azkia\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
file_path = "C:\\Users\\Silvy Nur Azkia\\Downloads\\tanah_longsor.xlsx"
df = pd.read_excel(file_path)
print(df)

      id  kode_provinsi nama_provinsi  kode_kabupaten_kota  \
0      1             32    JAWA BARAT                 3201
1      2             32    JAWA BARAT                 3202
2      3             32    JAWA BARAT                 3203
3      4             32    JAWA BARAT                 3204
4      5             32    JAWA BARAT                 3205
..   ...            ...           ...                  ...
265  266             32    JAWA BARAT                 3275
266  267             32    JAWA BARAT                 3276
267  268             32    JAWA BARAT                 3277
268  269             32    JAWA BARAT                 3278
269  270             32    JAWA BARAT                 3279

    nama_kabupaten_kota  jumlah_tanah_longsor    satuan  tahun
0       KABUPATEN BOGOR                     0  KEJADIAN   2012
1    KABUPATEN SUKABUMI                    48  KEJADIAN   2012
2     KABUPATEN CIANJUR                     9  KEJADIAN   2012
3     KABUPATEN BANDUNG                    12  KEJADIAN   2012
4       KABUPATEN GARUT                    36  KEJADIAN   2012
..                  ...                   ...       ...    ...
265         KOTA BEKASI                     2  KEJADIAN   2021
266          KOTA DEPOK                     2  KEJADIAN   2021
267         KOTA CIMAHI                     3  KEJADIAN   2021
268    KOTA TASIKMALAYA                     2  KEJADIAN   2021
269         KOTA BANJAR                     3  KEJADIAN   2021

[270 rows x 8 columns]

In [4]:
df.head(7)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_tanah_longsor,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,0,KEJADIAN,2012
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,48,KEJADIAN,2012
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,9,KEJADIAN,2012
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,12,KEJADIAN,2012
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,36,KEJADIAN,2012
5,6,32,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,2,KEJADIAN,2012
6,7,32,JAWA BARAT,3207,KABUPATEN CIAMIS,2,KEJADIAN,2012

In [5]:
df.tail(5)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_tanah_longsor,satuan,tahun
265,266,32,JAWA BARAT,3275,KOTA BEKASI,2,KEJADIAN,2021
266,267,32,JAWA BARAT,3276,KOTA DEPOK,2,KEJADIAN,2021
267,268,32,JAWA BARAT,3277,KOTA CIMAHI,3,KEJADIAN,2021
268,269,32,JAWA BARAT,3278,KOTA TASIKMALAYA,2,KEJADIAN,2021
269,270,32,JAWA BARAT,3279,KOTA BANJAR,3,KEJADIAN,2021

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    270 non-null    int64
 1   kode_provinsi         270 non-null    int64
 2   nama_provinsi         270 non-null    object
 3   kode_kabupaten_kota   270 non-null    int64
 4   nama_kabupaten_kota   270 non-null    object
 5   jumlah_tanah_longsor  270 non-null    int64
 6   satuan                270 non-null    object
 7   tahun                 270 non-null    int64
dtypes: int64(5), object(3)
memory usage: 17.0+ KB

In [7]:
df.describe()

,id,kode_provinsi,kode_kabupaten_kota,jumlah_tanah_longsor,tahun
count,270.000000,270.0,270.000000,270.000000,270.000000
mean,135.500000,32.0,3231.333333,20.970370,2016.500000
std,78.086491,0.0,31.259794,37.892126,2.877615
min,1.000000,32.0,3201.000000,0.000000,2012.000000
25%,68.250000,32.0,3207.000000,1.000000,2014.000000
50%,135.500000,32.0,3214.000000,6.000000,2016.500000
75%,202.750000,32.0,3273.000000,27.000000,2019.000000
max,270.000000,32.0,3279.000000,354.000000,2021.000000

In [20]:
df.drop(['kode_provinsi'], axis=1)

AttributeError: 'list' object has no attribute 'drop'

In [14]:
df.rename(columns={'nama_kabupaten_kota':'nama_kabupaten/kota'})

AttributeError: 'list' object has no attribute 'rename'

In [15]:
df.rename(columns={'nama_kabupaten_kota':'nama_kabupaten/kota'})

AttributeError: 'list' object has no attribute 'rename'

In [18]:
df.sort_values('kode_kabupaten_kota')

AttributeError: 'list' object has no attribute 'sort_values'

In [19]:
df.sort_values('kode_kabupaten_kota')

AttributeError: 'list' object has no attribute 'sort_values'