In [5]:
from mysql.connector import (connection)

db_config = {
    'host' : 'localhost',
    'user' : 'root',
    'password' : '',
    'database': 'garmen'

}

try :
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print('Connected to MySQL database')

except mysql.connector.Error as e:
    print(f"Error connecting to MySQL): {e}")

finally:
    if 'connection' in locals() and connection.is_connected():
        connection.close()
        print('Connection closed')

AttributeError: module 'mysql.connector.connection' has no attribute 'is_connected'

In [10]:
import mysql.connector

db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '',
    'database': 'hotel'
}

try:
    connection= mysql.connector.connect(**db_config)
    if connection.is_connected():
        print("Connected to MySQl database")

except mysql.connector.Error as e:
    print(f"Error connecting to MySQL: {e}")

#finally:
#    if 'connection' in locals() and connection.is_connected():
 #       connection.close()
#        print('Connection closed')

Connected to MySQl database
Connection closed

In [73]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', port='3306', database='hotel')
cursor = cnx.cursor()

insert_query = "INSERT INTO rooms (id_rooms, type, lantai, harga) VALUES (%s, %s, %s, %s)"
values = ('303', 'superior', '3', '550000')

cursor.execute(insert_query, values)
cnx.commit()
print(f"Data inserted successfully with ID: {cursor.lastrowid}")

Data inserted successfully with ID: 0

In [1]:
from mysql.connector import (connection)

db_config = {
    'host' : 'localhost',
    'user' : 'root',
    'password' : '',
    'database': 'hotel'

}

try :
    connection = mysql.connector.connect(**db_config)
    if connection.is_connected():
        print('Connected to MySQL database')

except mysql.connector.Error as e:
    print(f"Error connecting to MySQL): {e}")

#finally:
#    if 'connection' in locals() and connection.is_connected():
#        connection.close()
#        print('Connection closed')


def select(select_query):
    select_query = "SELECT * FROM rooms"
    return values


def insert(insert_query, values):
    insert_query = "INSERT INTO rooms (id_rooms, type, lantai, harga) VALUES (%s, %s, %s, %s)"
    values = ('303', 'superior', '3', '550000')
    return values

def update(update_query, values):
    update_query = "UPDATE rooms SET id_rooms=%s, type=%s, lantai=%s, harga=%s WHERE id_rooms= '401' "
    new_values = ('405', 'suite', '5', '900000')
    return values

def delete(delete_query, values):
    delete_query = "DELETE FROM rooms WHERE id_rooms=%s"
    values= (302,)
    return values

print ("Pilih Menu : \n"\
       "1. select\n"
       "2. insert\n"
       "3. update\n"
       "4. delete\n")

menu = int(input("Masukkan pilihan menu : "))

if menu == 1:
    print

NameError: name 'mysql' is not defined

In [62]:
import mysql.connector

# Establish a connection to MySQL
cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', port='3306', database='hotel')
cursor = cnx.cursor()

select_query = "SELECT * FROM rooms"
cursor.execute(select_query)

# Fetch all the rows
rows = cursor.fetchall()

# Print the rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
cnx.close()

(301, 'superior', 3, 550000)
(405, 'suite', 5, 900000)
(701, 'twin rooms', 7, 750000)
(901, 'suite', 9, 1000000)

In [55]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', port='3306', database='hotel')
cursor = cnx.cursor()

update_query = "UPDATE rooms SET id_rooms=%s, type=%s, lantai=%s, harga=%s WHERE id_rooms= '401' "
new_values = ('405', 'suite', '5', '900000')

cursor.execute(update_query, new_values)

cnx.commit()

print(f"Data Updated successfully for ID: {new_values}")

cursor.close()
cnx.close()

Data Updated successfully for ID: ('405', 'suite', '5', '900000')

In [64]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='', host='127.0.0.1', port='3306', database='hotel')
cursor = cnx.cursor()
delete_query = "DELETE FROM rooms WHERE id_rooms=%s"
values= (302,)

cursor.execute(delete_query, values)
cnx.commit()

print(f"data berhasil dihapus pada ID : {values}")

data berhasil dihapus pada ID : (302,)

In [ ]:
def update_data