In [1]:
nama = input ("Masukkan nama")
print (nama)
print("nama saya:", nama)

pipi
nama saya: pipi

In [2]:
nama = input("masukkan nama")
kampus = input("masukkan kampus")
print(nama)
print("Hello {} selamat datang di{}".format(nama, kampus))

pipi
Hello pipi selamat datang diitenas

In [3]:
nama = input("masukkan nama")
kampus = input("masukkan kampus")
print(nama)
print("Hello {} selamat datang di{}".format(nama, kampus))
print("nama saya %s"%nama)  #s itu berarti string#

pipi
Hello pipi selamat datang diitenas
nama saya pipi

In [12]:
nama = input("masukkan nama")
umur = int(input("masukkan umur"))
tinggi = float(input("masukkan tinggi badan"))
print("nama saya %s"%nama)  #s itu berarti string#
print("umur saya %s"%umur)  
print("tinggi badan saya %f"%tinggi)  #f itu berarti float#

nama saya pipi
umur saya 19
tinggi badan saya 148.500000

In [15]:
print('merkurius', end='*')
print('venus', end=' ')
print('bumi', end='%')

merkurius*venus bumi%

In [18]:
a = int(input("masukkan a"))
print(a)
b = int(input("masukkan b"))
print(b)
print(a, '*', b, '=', a*b)

1
2
1 * 2 = 2

In [19]:
a = int(input("masukkan a"))
b = int(input("masukkan b"))
print(a, '*', b, '=', a*b)

1 * 2 = 2

In [20]:
print('{} dan {}' .format('pipi', 'ipi'))

pipi dan ipi

In [22]:
print('{1} dan {0}' .format('pipi', 'aliya'))

aliya dan pipi

In [36]:
print('halo {namadepan} {namabelakang}' .format(namadepan='silvy', namabelakang='azkia'))

halo silvy azkia

In [30]:
print(f"umur saya {umur}")

umur saya 19

In [34]:
a = int(input("masukkan a"))
b = int(input("masukkan b"))
print(a, '*', b, '=', a*b)
print(a, '+', b, '=', a+b)
print(a, '-', b, '=', a-b)
print(a, '/', b, '=', a/b)
print(a, '%', b, '=', a%b)
print(a, '**', b, '=', a**b)

2 * 6 = 12
2 + 6 = 8
2 - 6 = -4
2 / 6 = 0.3333333333333333
2 % 6 = 2
2 ** 6 = 64

In [37]:
a = 9
b = 8
c =  a<b
print(c)

False

In [40]:
a = int(input("masukkan a"))
print(a)
b = int(input("masukkan b"))
print(b)
print(a, '<', b, '=', a<b)
print(a, '>', b, '=', a>b)
print(a, '==', b, '=', a==b)
print(a, '!=', b, '=', a!=b)
print(a, '>=', b, '=', a>=b)
print(a, '<=', b, '=', a<=b)

2
5
2 < 5 = True
2 > 5 = False
2 == 5 = False
2 != 5 = True
2 >= 5 = False
2 <= 5 = True

In [41]:
a = int(input("masukkan a"))
print(a)
b = int(input("masukkan b"))
print(b)
print(a, '!=', b, '=', a!=b)
#!= artinya jika tidak sama dengan, jika nilainya bernilai sama maka hasilnya false karena nilainya sama

10
10
10 != 10 = False

In [42]:
umur = int(input("masukan umur"))
if umur >= 25:
    print("menikah")
else :
    print("jomblo")

jomblo

In [ ]:
#masukkan nilai a=4
#masukkan nilai b=5
# a&b = 4 -------- karena di dalam biner 0100 and 0101 maka hasilnya 0100
# a|b = 5 -------- karena di dalam biner 0100 or 0101 maka hasilnya 0101